/* components/AppointmentDetails.css */
.appointment-details-section {
    margin: 20px;
  }
  
  .appointment-details {
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .add-prescription-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  